<footer class="bg-light py-3">
  <div class="container">
    <span class="text-muted">Shopping Assistant &copy; 2023</span>
    <ul class="list-inline float-end mb-0">
      <li class="list-inline-item me-3"><a href="https://shopping-assistant-api.azurewebsites.net/" class="text-decoration-none link-secondary" target="_blank">Api</a></li>
      <li class="list-inline-item"><a href="https://cartaid.azurewebsites.net/" class="text-decoration-none link-secondary" target="_blank">Client</a></li>
    </ul>
  </div>
</footer>